In [240]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set
import warnings
warnings.filterwarnings ("ignore")

In [241]:
df = pd.read_csv("Cleaned-Data.csv")

In [242]:
df.head(10)

,Age,Weight_kg,Height_ft,Marital_Status,PCOS,Family_History_PCOS,Menstrual_Irregularity,Hormonal_Imbalance,Hyperandrogenism,Hirsutism,...,Diet_Multivitamin,Vegetarian,Exercise_Frequency,Exercise_Type,Exercise_Duration,Sleep_Hours,Stress_Level,Smoking,Exercise_Benefit,PCOS_Medication
0,20-25,66.0,157.48,Unmarried,No,No,Yes,No,No,No,...,0,No,Rarely,"Cardio (e.g., running, cycling, swimming)",30 minutes,Less than 6 hours,No,No,Somewhat,No.
1,Less than 20,56.0,165.10,Unmarried,No,No,No,No,No,No,...,0,No,Daily,No Exercise,Less than 30 minutes,6-8 hours,No,No,Somewhat,No.
2,Less than 20,89.0,167.64,Unmarried,No,Yes,No,No,No,Yes,...,0,No,Rarely,"Cardio (e.g., running, cycling, swimming)",Less than 30 minutes,6-8 hours,Yes,No,Somewhat,No.
3,20-25,55.0,160.02,Unmarried,No,Yes,No,Yes,No,Yes,...,1,No,Never,No Exercise,Not Applicable,6-8 hours,Yes,No,Somewhat,No.
4,Less than 20,55.0,160.02,Unmarried,No,No,No,No,No,No,...,0,No,Daily,"Cardio (e.g., running, cycling, swimming)",30 minutes to 1 hour,6-8 hours,Yes,No,Not at All,No.
5,Less than 20,45.0,160.02,Unmarried,No,No,Yes,Yes,No,No,...,0,No,Rarely,No Exercise,Not Applicable,6-8 hours,Yes,No,Not Much,No.
6,20-25,42.0,152.40,Unmarried,No,No,Yes,Yes,No,Yes,...,0,No,Never,No Exercise,Not Applicable,Less than 6 hours,Yes,No,Somewhat,No.
7,Less than 20,60.0,157.48,Unmarried,No,No,No,No,No,No,...,0,No,1-2 Times a Week,"Cardio (e.g., running, cycling, swimming)",30 minutes,Less than 6 hours,Yes,No,Somewhat,No.
8,20-25,84.0,172.72,Unmarried,Yes,No,Yes,Yes,Yes,Yes,...,0,No,Rarely,No Exercise,Not Applicable,Less than 6 hours,Yes,No,Somewhat,No.
9,20-25,70.0,165.10,Unmarried,Yes,Yes,Yes,Yes,No,No,...,1,No,Never,No Exercise,Not Applicable,Less than 6 hours,Yes,No,Not at All,No.

In [243]:
df.shape

(173, 36)

In [244]:
df.duplicated().sum()

0

In [245]:
df.isnull().sum().sum()

0

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         173 non-null    object
 1   Weight_kg                   173 non-null    float64
 2   Height_ft                   173 non-null    float64
 3   Marital_Status              173 non-null    object
 4   PCOS                        173 non-null    object
 5   Family_History_PCOS         173 non-null    object
 6   Menstrual_Irregularity      173 non-null    object
 7   Hormonal_Imbalance          173 non-null    object
 8   Hyperandrogenism            173 non-null    object
 9   Hirsutism                   173 non-null    object
 10  Mental_Health               173 non-null    object
 11  Conception_Difficulty       173 non-null    object
 12  Insulin_Resistance          173 non-null    object
 13  Diabetes                    173 non-null    object
 14  Childhood_Trauma            173 non-null    object
 15  Cardiovascular_Disease      173 non-null    object
 16  Diet_Bread_Cereals          173 non-null    int64
 17  Diet_Milk_Products          173 non-null    int64
 18  Diet_Fruits                 173 non-null    int64
 19  Diet_Vegetables             173 non-null    int64
 20  Diet_Starchy_Vegetables     173 non-null    int64
 21  Diet_NonStarchy_Vegetables  173 non-null    int64
 22  Diet_Fats                   173 non-null    int64
 23  Diet_Sweets                 173 non-null    int64
 24  Diet_Fried_Food             173 non-null    int64
 25  Diet_Tea_Coffee             173 non-null    int64
 26  Diet_Multivitamin           173 non-null    int64
 27  Vegetarian                  173 non-null    object
 28  Exercise_Frequency          173 non-null    object
 29  Exercise_Type               173 non-null    object
 30  Exercise_Duration           173 non-null    object
 31  Sleep_Hours                 173 non-null    object
 32  Stress_Level                173 non-null    object
 33  Smoking                     173 non-null    object
 34  Exercise_Benefit            173 non-null    object
 35  PCOS_Medication             173 non-null    object
dtypes: float64(2), int64(11), object(23)
memory usage: 48.8+ KB

In [247]:
df.describe()

,Weight_kg,Height_ft,Diet_Bread_Cereals,Diet_Milk_Products,Diet_Fruits,Diet_Vegetables,Diet_Starchy_Vegetables,Diet_NonStarchy_Vegetables,Diet_Fats,Diet_Sweets,Diet_Fried_Food,Diet_Tea_Coffee,Diet_Multivitamin
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,56.549711,160.636647,5.445087,3.647399,3.034682,3.439306,3.069364,2.450867,4.531792,3.618497,3.179191,4.549133,1.393064
std,12.025369,7.287373,2.116832,2.548930,2.048527,1.769596,1.857054,1.709808,2.293919,2.255253,2.019448,2.785795,2.326880
min,36.000000,124.460000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,157.480000,4.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,0.000000
50%,55.000000,160.020000,7.000000,3.000000,3.000000,3.000000,3.000000,2.000000,5.000000,3.000000,3.000000,6.000000,0.000000
75%,64.000000,165.100000,7.000000,7.000000,4.000000,5.000000,4.000000,3.000000,7.000000,6.000000,5.000000,7.000000,2.000000
max,115.000000,182.880000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [248]:
df.columns

Index(['Age', 'Weight_kg', 'Height_ft', 'Marital_Status', 'PCOS',
       'Family_History_PCOS', 'Menstrual_Irregularity', 'Hormonal_Imbalance',
       'Hyperandrogenism', 'Hirsutism', 'Mental_Health',
       'Conception_Difficulty', 'Insulin_Resistance', 'Diabetes',
       'Childhood_Trauma', 'Cardiovascular_Disease', 'Diet_Bread_Cereals',
       'Diet_Milk_Products', 'Diet_Fruits', 'Diet_Vegetables',
       'Diet_Starchy_Vegetables', 'Diet_NonStarchy_Vegetables', 'Diet_Fats',
       'Diet_Sweets', 'Diet_Fried_Food', 'Diet_Tea_Coffee',
       'Diet_Multivitamin', 'Vegetarian', 'Exercise_Frequency',
       'Exercise_Type', 'Exercise_Duration', 'Sleep_Hours', 'Stress_Level',
       'Smoking', 'Exercise_Benefit', 'PCOS_Medication'],
      dtype='object')

In [249]:
df['PCOS'].value_counts()

PCOS
No                                    134
Yes                                    38
No, Yes, not diagnosed by a doctor      1
Name: count, dtype: int64

In [250]:
df['PCOS'] = np.where(df['PCOS'] == 'Yes',1,2)

In [251]:
x= df[['Age','Weight_kg','Height_ft','Diabetes','Sleep_Hours', 'Smoking','Vegetarian','Mental_Health', 'Exercise_Duration', 'Childhood_Trauma','Hyperandrogenism','Family_History_PCOS','Hormonal_Imbalance']]
y = df['PCOS']

In [252]:
df['Hormonal_Imbalance'].value_counts()

Hormonal_Imbalance
Yes                                                           97
No                                                            74
No, Yes, not diagnosed by a doctor                             1
Yes, not diagnosed by a doctor, Yes, diagnosed by a doctor     1
Name: count, dtype: int64

In [253]:
df.dtypes

Age                            object
Weight_kg                     float64
Height_ft                     float64
Marital_Status                 object
PCOS                            int32
Family_History_PCOS            object
Menstrual_Irregularity         object
Hormonal_Imbalance             object
Hyperandrogenism               object
Hirsutism                      object
Mental_Health                  object
Conception_Difficulty          object
Insulin_Resistance             object
Diabetes                       object
Childhood_Trauma               object
Cardiovascular_Disease         object
Diet_Bread_Cereals              int64
Diet_Milk_Products              int64
Diet_Fruits                     int64
Diet_Vegetables                 int64
Diet_Starchy_Vegetables         int64
Diet_NonStarchy_Vegetables      int64
Diet_Fats                       int64
Diet_Sweets                     int64
Diet_Fried_Food                 int64
Diet_Tea_Coffee                 int64
Diet_Multivitamin               int64
Vegetarian                     object
Exercise_Frequency             object
Exercise_Type                  object
Exercise_Duration              object
Sleep_Hours                    object
Stress_Level                   object
Smoking                        object
Exercise_Benefit               object
PCOS_Medication                object
dtype: object

In [254]:
pip show scikit-learn

Name: scikit-learn
Version: 1.5.2
Summary: A set of python modules for machine learning and data mining
Home-page: https://scikit-learn.org
Author:
Author-email:
License: BSD 3-Clause License

Copyright (c) 2007-2024 The scikit-learn developers.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: C:\Users\User\miniconda3\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [255]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\user\miniconda3\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\user\miniconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\user\miniconda3\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\miniconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\miniconda3\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [256]:
x.head()

,Age,Weight_kg,Height_ft,Diabetes,Sleep_Hours,Smoking,Vegetarian,Mental_Health,Exercise_Duration,Childhood_Trauma,Hyperandrogenism,Family_History_PCOS,Hormonal_Imbalance
0,20-25,66.0,157.48,No,Less than 6 hours,No,No,Yes,30 minutes,No,No,No,No
1,Less than 20,56.0,165.10,No,6-8 hours,No,No,No,Less than 30 minutes,No,No,No,No
2,Less than 20,89.0,167.64,No,6-8 hours,No,No,Yes,Less than 30 minutes,Yes,No,Yes,No
3,20-25,55.0,160.02,No,6-8 hours,No,No,Yes,Not Applicable,Yes,No,Yes,Yes
4,Less than 20,55.0,160.02,No,6-8 hours,No,No,Yes,30 minutes to 1 hour,Yes,No,No,No

In [257]:
df['Hormonal_Imbalance'] = np.where(df['Hormonal_Imbalance'] == 'No',1,2)

In [258]:
df.duplicated().sum()

0

In [259]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Age','Sleep_Hours', 'Smoking','Vegetarian','Mental_Health', 'Exercise_Duration', 'Childhood_Trauma','Hyperandrogenism','Family_History_PCOS','Hormonal_Imbalance']
one_hot = OneHotEncoder()
transformer = ColumnTransformer(
    [('one_hot', one_hot, categorical_features)]
      
)


trans_x1 = transformer.fit_transform(x)
trans_x1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.]])

from sklearn.preprocessing import OneHotEncoder
import numpy as np


one_hot = OneHotEncoder(sparse_output=False)  
trans_y = one_hot.fit_transform(np.array(y).reshape(-1, 1))

In [275]:
x1 = pd.DataFrame(trans_x1)
x1

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
169,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
170,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
171,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
172,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [277]:
from sklearn.model_selection import train_test_split
x1_train, x1_test, y_train, y_test = train_test_split(x1, y, test_size = 0.2, random_state = 23)

In [281]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter = 500)
clf.fit(x1_train, y_train)
y_pred = clf.predict(x1_test)

In [283]:
clf.score(x1_train, y_train)

0.8768115942028986

In [282]:
clf.score(x1_test, y_test)

0.9428571428571428

# Hypothesis Testing

In [285]:
table = pd.crosstab(df['Hormonal_Imbalance'],df['PCOS'])
table

PCOS                 1   2
Hormonal_Imbalance
1                    3  71
2                   35  64

In [286]:
from scipy.stats import chi2_contingency

In [287]:
#Hormonal_Imbalance and PCOS

chi2, p, dof, ex = chi2_contingency(table)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 22.411436137094036, p-value = 2.2005978413499125e-06

In [290]:
table1 = pd.crosstab(df['Sleep_Hours'],df['PCOS'])
table1

PCOS                 1   2
Sleep_Hours
6-8 hours           21  89
9-12 hours           4  10
Less than 6 hours   13  35
More than 12 hours   0   1

In [291]:
chi2, p, dof, ex = chi2_contingency(table1)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 1.9016908538180475, p-value = 0.5930596557711325

In [292]:
#Smoking vs PCOS
table2 = pd.crosstab(df['Smoking'],df['PCOS'])
table2

PCOS      1    2
Smoking
No       37  134
Yes       1    1

In [293]:
chi2, p, dof, ex = chi2_contingency(table2)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 0.01087129373140453, p-value = 0.9169586585490933

In [294]:
#Vegetarian vs PCOS
table3 = pd.crosstab(df['Vegetarian'],df['PCOS'])
table3

PCOS         1    2
Vegetarian
No          35  122
Yes          3   13

In [295]:
chi2, p, dof, ex = chi2_contingency(table3)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 8.390524701704364e-05, p-value = 0.9926914950002012

In [296]:
#Mental_Health vs PCOS
table4 = pd.crosstab(df['Mental_Health'],df['PCOS'])
table4

PCOS            1   2
Mental_Health
No              4  46
Yes            34  89

In [297]:
chi2, p, dof, ex = chi2_contingency(table4)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 6.896872192903216, p-value = 0.008634668753904538

In [298]:
#Exercise_Duration vs PCOS
table5 = pd.crosstab(df['Exercise_Duration'],df['PCOS'])
table5

PCOS                   1   2
Exercise_Duration
30 minutes             5  23
30 minutes to 1 hour   5  13
Less than 30 minutes  12  39
More than 30 minutes   1   7
Not Applicable        15  53

In [299]:
chi2, p, dof, ex = chi2_contingency(table5)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 1.121772545925453, p-value = 0.8908025425878172

In [300]:
#Childhood_Trauma & PCOS
table6 = pd.crosstab(df['Childhood_Trauma'],df['PCOS'])
table6

PCOS                                 1   2
Childhood_Trauma
No                                  13  93
No, Yes, not diagnosed by a doctor   2   0
Yes                                 23  42

In [301]:
chi2, p, dof, ex = chi2_contingency(table6)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 19.75419219310977, p-value = 5.13371397211943e-05

In [302]:
#Hyperandrogenism & PCOS
table7 = pd.crosstab(df['Hyperandrogenism'],df['PCOS'])
table7

PCOS               1    2
Hyperandrogenism
No                18  131
Yes               20    4

In [303]:
chi2, p, dof, ex = chi2_contingency(table7)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 57.138772739314724, p-value = 4.061196544527382e-14

In [304]:
#Family_History_PCOS and 'PCOS'
table8 = pd.crosstab(df['Family_History_PCOS'],df['PCOS'])
table8

PCOS                                                 1    2
Family_History_PCOS
No                                                  28  118
Yes                                                 10   16
Yes, not diagnosed by a doctor, Yes, diagnosed ...   0    1

In [305]:
chi2, p, dof, ex = chi2_contingency(table8)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 5.070988030901515, p-value = 0.07922257242113014

In [306]:
#Hormonal_Imbalance

table9 = pd.crosstab(df['Hormonal_Imbalance'],df['PCOS'])
table9

PCOS                 1   2
Hormonal_Imbalance
1                    3  71
2                   35  64

In [307]:
chi2, p, dof, ex = chi2_contingency(table9)
print(f"Chi-square Test Result (p-value): chi2 = {chi2}, p-value = {p}")

Chi-square Test Result (p-value): chi2 = 22.411436137094036, p-value = 2.2005978413499125e-06